<!DOCTYPE html>
<html>
<head>
  <title>Edit Student</title>
</head>
<body>
  <h1>Edit Student</h1>
  <form action="/update/<%= student.id %>" method="POST">
    Name: <input type="text" name="name" value="<%= student.username %>" required><br><br>
    Branch: <input type="text" name="branch" value="<%= student.branch %>" required><br><br>
    <button type="submit">Update</button>
  </form>
  <br><a href="/show">⬅️ Back to List</a>
</body>
</html>
